body {background-image: url("https://www.shc.ac.th/img/BG_index.jpg");}
body {display: inline-block;
width:20%;
float: Center;
margin: 0;
text-align: center;
padding:0;}
img {width: 500px;}
body {text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.jj {display: inline-block;}
.teach {border-radius: 50%;}
.img2 {width: 800px;}